.DS_Store
.*.swp*.slo
*.pch
*.gch
*.obj
*.o
*.pdb
*.idb
CMakeScripts
cmake_install.cmake
CMakeCache.txt
CMakeFiles
install_manifest.txt
compile_commands.json
*.suo
*.user
*.userosscache
*.sln.docstates
.qmake.stash
.qmake.cache
CMakeLists.txt.user.*
*.pro.user
*.moc
moc_*.h
moc_*.cpp
qrc_*.cpp
ui_*.h
*.qbs.user.*
*.qbs.user
.build
